body {
  margin: 100px;
}

.info {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
}

.Increment-main {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.Increment-main > button {
  border: none;
  background-color: rgb(200, 255, 2);
  padding: 10px 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.Increment-main > button:hover {
  background-color: rgb(142, 151, 89);
  padding: 10px 30px;
}
.calculator{
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
  align-items: center;
  margin: auto;
  gap: 10px;
}

.calculator > input {
  border: none;
  background-color: gainsboro;
  padding: 10px 20px;
  border-radius: 10px;
}

.calculator > select {
  border: none;
  background-color: rgb(155, 155, 155);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.calculator > button {
  background-color: goldenrod;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
